body {
  background: #191919;
  margin: 2rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 3rem;
}

// ========== HEADER ==========

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.page-title {
  color: #d20a32;
  font-size: 3rem;
  font-weight: bold;
}

.controls input {
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
}

// ========== CARDS ==========

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; 
}

.card-image{
  width: 10rem;
  height: 8rem;
  object-fit: cover;
}

select {
  background-color: #d20a32;
  padding: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: white;
  border-radius: 0px;
  border: none;
  font-size: 1,8rem;
}

button {
  background-color: #d20a32;
  padding: 0.6rem;
  margin-top: 1rem;
  color: white;
  border-radius: 0px;
  border: none;
}